@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1584876623539'); /* IE9 */
  src: url('iconfont.eot?t=1584876623539#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKEAAsAAAAABjgAAAI6AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApEXAE2AiQDCAsGAAQgBYRtBzAbggURBVzJfiRkpxW3SfWDEfWfNBJn4uHf/cr7kvzZLBWYJRAoROE7lYjCkbB0/HaPL0rW1bM1HcO9URGqS3K+9Sz/I/+7Iw3rPE6jFEIiJBnU1unzXE5vAh3INT5QrnvQWJMm9QLqxYEU4F7YJiuhjBvGLnAJ5wn0mGKR2NzvPqwqrGmBuBYunlZzfkVhqSq0atYW8UCjppvpE+6H349/VkQlaTKrYv+FLees/8nOyO1O2zGfECCgzQ0yFqEQh2vje2XBuKwnXsxgX6XBT52ObxN7NQv211nFfWASTAQ/uVMFSHBbfQ3HmFGPIIZfPP+0/erWmAvPboy9+Pz26/aoe9eHDBmc/nLGwOLF72a884oHZrycPmg9+ll6mz4LBGt+bntxcujq/7W3gC+3LzQV/ZzUPTiCPyHt2VJ0uWVNRZXWdibDz1DVowcd2D3Cj7GG0adNh2r0CGeXySmyahZZ2EVo9FqFlgpdhx4LDZt7jUT2onRjgTdAGOaDZIiPyIb5koX9oTHGHy3DIqPH0Ri5Z685cVlsIpSMBtQLgp5G69hZRKVHdLcsKSsP+SvSGkLQVk0xNeCINMeC9e46ZguWpgI9uAxznmCmKaLmyjPPh7q2dW+q9FQ2wiYESQwZQHkBgTYZWb87E6XPHyHnJpOopakmeYXIKgwOWpWmBzloxl5N93LN6s7pMGYBi0wK0INRKMsmYK4fFSGNVfyI6OygttvZvppqfV35uj3QwzKmsIdlrQty9Lew2QA=') format('woff2'),
  url('iconfont.woff?t=1584876623539') format('woff'),
  url('iconfont.ttf?t=1584876623539') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1584876623539#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e641";
}

